/* === GERAL ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --hue: 920;
  --primary-color: hsl(var(--hue), 100%, 26%);
  --bg-light: hsl(180, 14%, 97%);

  font-size: 62.5%;
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Poppins;
  font-size: 1.6rem;
  overflow: overlay;
  background: var(--bg-light);
}
