/* === GERAL ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --nav-height: 7.2rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Poppins;
  font-size: 1.6rem;
  overflow: overlay;
  background: #eeeeee;
}

header {
  background: #666666;
}

header .container {
  width: 98%;
  height: 10vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .container .logo h1 {
  font-size: 2rem;
  font-weight: 400;

  color: #fff;
}

/* Main */
main {
  height: 90vh;

  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Trabalhando a parte do navbar-left */
main aside {
  width: 22%;
  background: #fff;
}

main aside ul {
  margin-block: 2rem;
  padding-inline: 4rem;
}

main section {
  width: 78%;
}

/* Trabalhando no section principal */
main section .container {
  width: 96%;
  margin: 5rem auto;
}

main section .container ul {
  list-style: none;
}

main section .container .content {
  background: #fff;
  padding: 4rem;

  display: flex;
  gap: 1rem;
}

main section .container .content fieldset {
  width: 50%;
}

main section .container .content fieldset legend {
  text-align: center;
  margin: auto 3rem;
}

/* Table */
main section .content-table {
  display: flex;
  gap: 2rem;
  padding-inline: 1rem;
}

main section .content-table table,
main section .content-table table th,
main section .content-table table td {
  border: 1px solid #000;
}

/* Formulário */
main form {
  padding-inline: 1rem;
  padding-block: 1rem;
}

main form .group-inline {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

main form .group-inline .group,
main form .group-inline .group input {
  width: 100%;
}

main form input {
  width: 50%;
}
